#root {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* App.css */
body,
.container {
	background: #fff;
	min-height: 100vh;
	min-width: 100vw;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
	color: #222;
}

.qr-wrapper {
	background: #fff;
	border-radius: 16px;
	padding: 20px;
	box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.58);
	border: 1px solid #eee;
	display: inline-block;
}

.session-id {
	margin-top: 1rem;
}

.instructions {
	color: #888;
	font-size: 0.9rem;
}